:root {
  --primary: linear-gradient(-135deg, #E4A972, #9941D8);
  --primary-text: #fefefe;
  --secondary: #fefefe;
  --secondary-text: #dbb0c1;
  --accent: linear-gradient(-135deg, #E4A972, #9941D8);
  --accent-text: #222;
}
